<div class="sponsors-section">
  <h2>Our Sponsors</h2>
  <div class="swiper sponsors-swiper">
    <div class="swiper-wrapper">
      {{ range .Page.Params.sponsors }}
        <div class="swiper-slide">
          <div class="sponsor-item">
            {{ if .website }}
              <a href="{{ .website }}" target="_blank" rel="noopener">
                <img src="{{ .logo }}" alt="{{ .name }}" />
              </a>
            {{ else }}
              <img src="{{ .logo }}" alt="{{ .name }}" />
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
